torch==1.9
lmdb
pyarrow==8.0.0
pyyaml
easydict
ConfigArgParse
tensorboard
torchvision
einops
matplotlib
tqdm
torchsnooper
ema-pytorch
accelerate
soundfile
pandas
transforms3d
scipy
scikit-learn
numpy==1.19.5
librosa==0.8.0
torchaudio==0.9.0
setuptools==59.5.0
blobfile
